# This file may be used to create an environment using:

# $ conda create --name <env> --file <this file>

# platform: win-64

# created-by: conda 24.9.2

absl-py

aext-assistant

aext-assistant-server

aext-core

aext-core-server

aext-panels

aext-panels-server

aext-share-notebook

aext-share-notebook-server

aext-shared

aiobotocore

aiohappyeyeballs

aiohttp

aioitertools

aiosignal

alabaster

altair

anaconda-anon-usage

anaconda-catalogs

anaconda-client

anaconda-cloud-auth

anaconda-navigator

anaconda-project

anaconda-toolbox

anaconda_powershell_prompt

anaconda_prompt

annotated-types

anyio

aom

appdirs

archspec

argon2-cffi

argon2-cffi-bindings

arrow

arrow-cpp

asgiref

astroid

astropy

astropy-iers-data

asttokens

astunparse

async-lru

asyncssh

atomicwrites

attrs

automat

autopep8

aws-c-auth

aws-c-cal

aws-c-common

aws-c-compression

aws-c-event-stream

aws-c-http

aws-c-io

aws-c-mqtt

aws-c-s3

aws-c-sdkutils

aws-checksums

aws-crt-cpp

aws-sdk-cpp

babel

bcrypt

beautifulsoup4

binaryornot

black

blas

bleach

blinker

blis

blosc

bokeh

boltons

boost-cpp

botocore

bottleneck

brotli

brotli-bin

brotli-python

bzip2

c-ares

c-blosc2

ca-certificates

cachetools

catalogue

certifi

cffi

cfitsio

chardet

charls

charset-normalizer

click

cloudpathlib

cloudpickle

collections-extended

colorama

colorcet

comm

comtypes

conda

conda-build

conda-content-trust

conda-index

conda-libmamba-solver

conda-pack

conda-package-handling

conda-package-streaming

conda-repo-cli

conda-token

confection

constantly

contourpy

cookiecutter

cryptography

cssselect

curl

cycler

cymem

cytoolz

dask

dask-core

dask-expr

datashader

dav1d

debugpy

decorator

defusedxml

deprecated

diff-match-patch

dill

distlib

distributed

distro

django

docstring-to-markdown

docutils

en-core-web-sm

et_xmlfile

executing

expat

fastjsonschema

filelock

flake8

flask

flatbuffers

fmt

fonttools

fqdn

freetype

frozendict

frozenlist

fsspec

gast

gensim

gflags

giflib

gitdb

gitpython

glog

google-api-core

google-api-python-client

google-auth

google-auth-httplib2

google-pasta

googleapis-common-protos

greenlet

greetme

grpcio

gunicorn

h11

h5py

hdf5

heapdict

holoviews

httpcore

httplib2

httpx

hvplot

hyperlink

icc_rt

icu

idna

imagecodecs

imageio

imagesize

imbalanced-learn

importlib-metadata

incremental

inflection

iniconfig

intake

intel-openmp

intervaltree

ipykernel

ipython

ipython_genutils

ipywidgets

isoduration

isort

itemadapter

itemloaders

itsdangerous

jaraco.classes

jedi

jellyfish

jinja2

jmespath

joblib

jpeg

jq

json5

jsonpatch

jsonpointer

jsonschema

jsonschema-specifications

jupyter

jupyter-client

jupyter-lsp

jupyter-server

jupyter-server-terminals

jupyter_console

jupyter_core

jupyter_events

jupyterlab

jupyterlab-pygments

jupyterlab-variableinspector

jupyterlab_server

jupyterlab_widgets

keras

keyring

kivy

kivy-deps-angle

kivy-deps-glew

kivy-deps-sdl2

kivy-garden

kivymd

kiwisolver

krb5

kv

langcodes

language-data

lazy-object-proxy

lazy_loader

lcms2

lerc

libabseil

libaec

libarchive

libavif

libboost

libbrotlicommon

libbrotlidec

libbrotlienc

libclang

libclang13

libcurl

libdeflate

libevent

libexpat

libffi

libgrpc

libiconv

liblief

libmamba

libmambapy

libpng

libpq

libprotobuf

libsodium

libsolv

libspatialindex

libsqlite

libssh2

libthrift

libtiff

libwebp-base

libxml2

libxslt

libzlib

libzopfli

linkify-it-py

llvmlite

locket

lxml

lz4

lz4-c

lzo

m2-msys2-runtime

m2-patch

m2w64-libwinpthread-git

marisa-trie

markdown

markdown-it-py

markupsafe

matplotlib

matplotlib-base

matplotlib-inline

mccabe

mdit-py-plugins

mdurl

menuinst

mistune

mkl

mkl-service

mkl_fft

mkl_random

ml-dtypes

mlxtend

more-itertools

mouseinfo

mpmath

msgpack-python

msys2-conda-epoch

multidict

multipledispatch

murmurhash

mypy

mypy_extensions

mysql-connector-python

namex

navigator-updater

nbclient

nbconvert

nbformat

nest-asyncio

networkx

nltk

notebook

notebook-shim

numba

numexpr

numpy

numpy-base

numpydoc

opencv-python

openjpeg

openpyxl

openssl

opt-einsum

optree

orc

outcome

overrides

packaging

pandas

pandocfilters

panel

param

paramiko

parsel

parso

partd

pathspec

patsy

pcre2

pexpect

pickleshare

pillow

pip

pkce

pkginfo

platformdirs

plotly

pluggy

ply

preshed

prometheus-client

prompt-toolkit

prompt_toolkit

protego

proto-plus

protobuf

psutil

ptyprocess

pure-eval

py-cpuinfo

py-lief

pyarrow

pyasn1

pyasn1-modules

pyaudio

pyautogui

pybind11-abi

pycodestyle

pycosat

pycparser

pyct

pycurl

pydantic

pydantic-core

pydeck

pydispatcher

pydocstyle

pyerfa

pyflakes

pygetwindow

pygithub

pygments

pyjokes

pyjwt

pylint

pylint-venv

pyls-spyder

pymsgbox

pymysql

pynacl

pyodbc

pyopenssl

pyparsing

pyperclip

pypiwin32

pyqt

pyqt5-sip

pyqtwebengine

pyrect

pyscreeze

pysocks

pytables

pytest

python

python-dateutil

python-dotenv

python-json-logger

python-libarchive-c

python-lmdb

python-lsp-black

python-lsp-jsonrpc

python-lsp-server

python-slugify

python_abi

pythonturtle

pytoolconfig

pyttsx3

pytweening

pytz

pyuca

pyviz_comms

pywavelets

pywhatkit

pywin32

pywin32-ctypes

pywinpty

pyyaml

pyzmq

qdarkstyle

qstylizer

qt-main

qt-webengine

qtawesome

qtconsole

qtpy

queuelib

random2

re2

referencing

regex

reproc

reproc-cpp

requests

requests-file

requests-toolbelt

rfc3339-validator

rfc3986-validator

rich

rope

rpds-py

rsa

rtree

ruamel.yaml

ruamel.yaml.clib

ruamel_yaml

s3fs

scikit-image

scikit-learn

scipy

scrapy

seaborn

secure-smtplib

selenium

semver

send2trash

service_identity

setuptools

shellingham

sip

six

smart-open

smmap

snappy

sniffio

snowballstemmer

solar-system

solarsystem

sortedcontainers

soupsieve

spacy

spacy-legacy

spacy-loggers

speechrecognition

sphinx

sphinxcontrib-applehelp

sphinxcontrib-devhelp

sphinxcontrib-htmlhelp

sphinxcontrib-jsmath

sphinxcontrib-qthelp

sphinxcontrib-serializinghtml

spyder

spyder-kernels

sqlalchemy

sqlite

sqlparse

srsly

srt

stack-data

statsmodels

streamlit

superqt

sympy

tabulate

tbb

tblib

tenacity

tensorboard

tensorboard-data-server

tensorflow

tensorflow-intel

termcolor

terminado

text-unidecode

textdistance

thinc

threadpoolctl

three-merge

tifffile

tinycss2

tk

tldextract

toml

tomli

tomlkit

toolz

torch

tornado

tqdm

traitlets

trio

trio-websocket

truststore

twisted

twisted-iocpsupport

typer

types-python-dateutil

typing-extensions

tzdata

uc-micro-py

ucrt

ujson

unicodedata2

unidecode

uri-template

uritemplate

urllib3

utf8proc

vc

vc14_runtime

virtualenv

virtualenvwrapper-win

voila

vosk

vs2015_runtime

w3lib

wasabi

watchdog

wcwidth

weasel

webcolors

webencodings

websocket-client

websockets

werkzeug

whatthepatch

wheel

widgetsnbextension

wikipedia

win_inet_pton

winpty

wordcloud

wrapt

wsproto

xarray

xlwings

xyzservices

xz

yaml

yaml-cpp

yapf

yarl

zeromq

zfp

zict

zipp

zlib

zlib-ng

zope

zope.interface

zstandard

zstd

